body {
  background-color: lightslategray;
}
h1 {
  color: blue;
  font-family: "";
  font-size: 55px;
  float: right;
  margin-top: 350px;
}
h2 {
  color: orange;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 40px;
}
h3 {
  font-size: 30px;

  font-family: "Lucida Console", "Courier New", monospace;
}
ul {
  color: orange;
  font-size: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
}
ol {
  color: orange;
  font-size: 20px;
  text-transform: full-size-kana;
  font-family: "Lucida Console", "Courier New", monospace;

}
li 
  text-transform: full-size-kana;
  font-family: "Lucida Console", "Courier New", monospace;
  
}
p {
  color: orangered;
  text-indent: 20px;
  text-transform: full-size-kana;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  margin-top: 30px;
  text-indent: 60px;

}


.image1
{
height:150px;
border-radius: 50%;
box-shadow: 25px 25px;
top: -30px;

}


.image2
{
width:300px;
height:250px;
border-radius: 50%;
box-shadow: 25px 25px;
top: -30px;

}

.container {
  width: 80%;
  margin-bottom; 
}

.container1 {
  width: 80%;
  margin-bottom: 30px;
  align-items: center;
}

.container2 {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  font-size: 30px;
}

.container3 {
  width: 80%;
  position: absolute;
  top: 0;
  right: 0;
}

.container4 {
  width: 80%;
  margin-top: 20px;
  position: fixed;
  right:20;
 font-size: 30px;
}
@media (max-width: 767px) {

  body {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }

  .header {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }

  .header h1 {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
  }

  .container1 {
    margin: 10px;
    padding: 10px;
  }

  .container2 {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
 p {
    font-size: 16px;
    padding: 5px;
  }
}

}